<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html xml:lang="nb" xmlns="http://www.w3.org/1999/xhtml" lang="nb">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <title>{{site.data.pages[page.path].title | escape_once}} - {{site.data.fhir.ig.title | escape_once}}
        v{{site.data.fhir.ig.version | escape_once}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="http://hl7.org/fhir" />

    <!-- <link href="{{site.data.info.assets}}assets/css/fhir.css" rel="stylesheet" type="text/css" /> -->
    <!-- Project extras -->
    <!-- <link href="{{site.data.info.assets}}assets/css/project.css" rel="stylesheet" /> -->
    <!-- <link href="{{site.data.info.assets}}assets/css/pygments-manni.css" rel="stylesheet" /> -->
    <!-- <link href="{{site.data.info.assets}}assets/css/jquery-ui.css" rel="stylesheet" /> -->
    <!-- <link href="{{site.data.info.assets}}assets/css/prism.css" rel="stylesheet" /> -->
    <!-- <link href="{{site.data.info.assets}}assets/css/cqf.css" rel="stylesheet" /> -->
    {% include fragment-css.html %}

    <script type="text/javascript" src="fhir-table-scripts.js"> </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body onload="document.body.style.opacity='1'">
    {% assign label = {{site.data.pages[page.path].label}} | split: '.0' %}
    <script type="text/javascript" src="{{site.data.info.assets}}assets/js/prism.js"></script>
    <div id="segment-header" class="segment"> <!-- segment-header -->
        <div class="container"> <!-- container -->
            {% if site.data.info.fcpspec == 'true' %}
            <div id="fcp-nav">
                <a id="fcp-logo" no-external="true"
                    href="https://confluence.hl7.org/display/FCP/FCP+Specification+Registry">
                    <img height="60" alt="Visit the FHIR Community Process Specification Registry"
                        src="assets/images/fcp-logo.png" />
                </a>
            </div>
            {% endif %}
            {% include fragment-header.html %}
            {% if site.data.info.releaselabel != '' %}
            {% assign status = site.data.info.releaselabel %}
            {% else %}
            {% assign status = site.data.fhir.ig.status %}
            {% endif %}
        </div> <!-- /container -->
    </div> <!-- /segment-header -->

    {% include fragment-menu.html %}
    <div id="segment-breadcrumb" class="segment"> <!-- segment-breadcrumb -->
        <div class="container"> <!-- container -->
            <ul class="breadcrumb">
                {{site.data.pages[page.path].breadcrumb}}
                {% if shownav == 'y' %}
                <span style="float:right;">
                    {% if site.data.pages[page.path].previous %}
                    <a href="{{site.data.pages[page.path].previous}}">&lt;prev</a> |
                    {% endif %}
                    <a href="#bottom">bottom</a>
                    {% if site.data.pages[page.path].next %}
                    | <a href="{{site.data.pages[page.path].next}}">next&gt;</a>
                    {% endif %}
                </span>
                {% endif %}
            </ul>
        </div> <!-- /container -->
    </div> <!-- /segment-breadcrumb -->

    <a name="top"> </a>
    <div id="segment-content" class="segment"> <!-- segment-content -->
        <div class="container"> <!-- container -->
            <div class="row">
                <div class="inner-wrapper">
