</div> <!-- /inner-wrapper -->
</div> <!-- /row -->
</div> <!-- /container -->
</div> <!-- /segment-content -->

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/HL7/ig-template-base@master/content/assets/js/jquery.js"> </script>
<!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/HL7/ig-template-base@master/content/assets/js/jquery-ui.min.js"> </script>
{% if includetabscripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/HL7/ig-template-base@master/content/assets/js/tabs.js"> </script>
{% endif %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/HL7/ig-template-base@master/content/assets/js/window-hash.js"> </script>
<a name="bottom"> </a>
<footer id="segment-footer" igtool="footer" class="segment"> <!-- segment-footer -->
    <div class="container"> <!-- container -->
        <div class="container-fluid">
            {% if shownav == 'y' %}
            <div style="background-color:var(--footer-nav-bg-color)">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="text-align:left">&#xA0;
                                {% if site.data.pages[page.path].previous %}
                                <a href="{{site.data.pages[page.path].previous}}">&lt;prev</a>
                                {% else %}
                                <span style="visibility:hidden">&lt;prev</span>
                                {% endif %}
                            </td>
                            <td style="text-align:center">
                                <a href="#top">top</a>
                            </td>
                            <td style="text-align:right">&#xA0;
                                {% if site.data.pages[page.path].next %}
                                <a href="{{site.data.pages[page.path].next}}">next&gt;</a>
                                {% else %}
                                <span style="visibility:hidden">next&gt;</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div class="inner-wrapper p-3">
                <p class="m-0">
                    IG &#169; {{site.data.info.copyrightyear}} <a style="color:var(--footer-hyperlink-text-color)"
                        href="{{site.data.fhir.ig.contact[0].telecom[0]}}">{{site.data.fhir.ig.publisher | escape}}</a>.
                    Package {{site.data.fhir.packageId}}#{{site.data.fhir.igVer}} based on <a
                        style="color: var(--footer-hyperlink-text-color)" href="{{site.data.fhir.path}}">FHIR
                        {{site.data.fhir.version}}</a>. Generated <span
                        title="{{site.data.fhir.genDate}}">{{site.data.fhir.genDate | date: "%Y-%m-%d"}}</span>
                    <br />
                    <span style="color: var(--footer-highlight-text-color)">
                        {% include fragment-footer.html %}
                    </span>
                </p>
            </div> <!-- /inner-wrapper -->
        </div>
    </div><!-- /container -->
</footer> <!-- /segment-footer -->

<div id="segment-post-footer" class="segment hidden d-none"> <!-- segment-post-footer -->
    <div class="container"> <!-- container -->
    </div> <!-- /container -->
</div> <!-- /segment-post-footer -->

<!-- JS and analytics only. -->
<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"> </script>
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/respond.min.js"> </script>
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/anchor.min.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/anchor-hover.js"> </script>
<script id="page-data" type="application/json">
  {
    "breadcrumb": "{{ site.data.pages[page.path].breadcrumb }}"
  }
</script>
<script type="text/javascript">
    const pageData = JSON.parse(document.getElementById("page-data").textContent);

    const secondLevel = (key) => {
        if (pageData.breadcrumb) {
            const liRegex = /<li>(.*?)<\/li>/g;
            const listItems = [...pageData.breadcrumb.matchAll(liRegex)].map(match => match[1].trim());
            return listItems[1]?.includes(key) || false;
        }
        return false;
    };

    // Style FHI menu
    const classMenuNav = 'fhi-main-menu-alt__nav',
        classMenuNavItem = 'fhi-main-menu-alt__nav-item',
        classMenuNavLink = 'fhi-main-menu-alt__nav-link';
    const menu = document.getElementById('menu');
    const ul = menu.querySelector('ul');
    ul.classList.add('nav', 'nav-tabs', 'fhi-nav-tabs', classMenuNav);
    ul.querySelectorAll('li').forEach(li => {
        li.classList.add(classMenuNavItem);
        li.querySelectorAll('a').forEach(a => {
            a.classList.add('nav-link', classMenuNavLink);
        });

        if (li.classList.contains('dropdown')) {
            li.addEventListener('click', () => {
                li.classList.toggle('show');
                li.querySelector('ul').classList.toggle('show');
            });
        }
    });

    // Set active class on menu item
    const path = window.location.pathname;
    const page = path.split("/").pop();
    const menuItems = document.querySelectorAll(`.${classMenuNavItem}`);
    menuItems.forEach(item => {
        const menuLink = item.querySelector('a').getAttribute('href');
        if (menuLink === page) {
            item.classList.add('active');
            item.querySelector('a').classList.add('active');
        }
        else if (secondLevel(menuLink)) {
            item.classList.add('active');
            item.querySelector('a').classList.add('active');
        }
    });

    // Init clipboard.js
    new ClipboardJS('.btn-copy');
</script>
<!-- Analytics Below
  ================================================== -->
</body>

</html>
