/*
    Erstattes av cdn  / npm-pakke når den er released.
    (https://github.com/FHIDev/Fhi.Designsystem)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ@8..144,100..1000,88&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/@folkehelseinstituttet/style@6.4.0/css/styles.min.css");

:root {
    /* Color */
    /* Primitive */
    --black: #000000;
    --white: #ffffff;

    --red-050: #fffafa;
    --red-100: #fff6f5;
    --red-200: #fee9e6;
    --red-300: #ffd2cc;
    --red-400: #fda49b;
    --red-500: #ec7c73;
    --red-600: #d74b46;
    --red-700: #a93c38;
    --red-800: #7b2623;
    --red-900: #3f1514;

    --yellow-050: #fffcf5;
    --yellow-100: #fff4e6;
    --yellow-200: #ffe7ba;
    --yellow-300: #fee191;
    --yellow-400: #fad363;
    --yellow-500: #f4c53f;
    --yellow-600: #e9b525;
    --yellow-700: #cb9811;
    --yellow-800: #846004;
    --yellow-900: #402d00;

    --orange-050: #fffaf5;
    --orange-100: #feeed9;
    --orange-200: #fddbb9;
    --orange-300: #fbc68a;
    --orange-400: #f7b665;
    --orange-500: #f1a541;
    --orange-600: #e59425;
    --orange-700: #c67b11;
    --orange-800: #7b4a04;
    --orange-900: #331e00;

    --pink-050: #fefbfc;
    --pink-100: #fceaf0;
    --pink-200: #f8d4e1;
    --pink-300: #f2a9c3;
    --pink-400: #eb7fa4;
    --pink-500: #e55486;
    --pink-600: #de2968;
    --pink-700: #b22153;
    --pink-800: #85193e;
    --pink-900: #430c1f;

    --green-050: #fafffe;
    --green-100: #f2fbfa;
    --green-200: #d9f4ed;
    --green-300: #b5e8d9;
    --green-400: #61d2b2;
    --green-500: #00b782;
    --green-600: #179463;
    --green-700: #396e4d;
    --green-800: #2d4f35;
    --green-900: #203323;

    --greyblue-050: #fdfeff;
    --greyblue-100: #f8fcfe;
    --greyblue-200: #e5eff3;
    --greyblue-300: #d1e1e9;
    --greyblue-400: #acc7d5;
    --greyblue-500: #789eb0;
    --greyblue-600: #678999;
    --greyblue-700: #3d5d6c;
    --greyblue-800: #334c57;
    --greyblue-900: #1f2f37;

    --teal-050: #fafdff;
    --teal-100: #f2fafe;
    --teal-200: #e0f0f7;
    --teal-300: #c8e1ec;
    --teal-400: #8fc5dc;
    --teal-500: #65a9c5;
    --teal-600: #4089a7;
    --teal-700: #2a6a82;
    --teal-800: #234e5f;
    --teal-900: #16323d;

    --purple-050: #fafbff;
    --purple-100: #f5f7ff;
    --purple-200: #ebedff;
    --purple-300: #d8ddff;
    --purple-400: #b0b8fa;
    --purple-500: #8e96f3;
    --purple-600: #7176c9;
    --purple-700: #595d9d;
    --purple-800: #40436d;
    --purple-900: #292b47;

    --blue-050: #fafdff;
    --blue-100: #f2f8ff;
    --blue-200: #d3e3f5;
    --blue-300: #b1ceeb;
    --blue-400: #8cb7e2;
    --blue-500: #629ed8;
    --blue-600: #3283ce;
    --blue-700: #0067c4;
    --blue-800: #003e82;
    --blue-900: #001c40;

    /* Semantic */
    --color-neutral-background: var(--white);
    --color-neutral-background-subtle: var(--greyblue-100);
    --color-neutral-surface: var(--greyblue-200);
    --color-neutral-surface-hover: var(--greyblue-300);
    --color-neutral-surface-active: var(--greyblue-400);
    --color-neutral-border-subtle: var(--greyblue-300);
    --color-neutral-border: var(--greyblue-500);
    --color-neutral-border-strong: var(--greyblue-700);
    --color-neutral-base: var(--greyblue-600);
    --color-neutral-base-hover: var(--greyblue-700);
    --color-neutral-base-active: var(--greyblue-800);
    --color-neutral-text-subtle: var(--greyblue-700);
    --color-neutral-text: var(--greyblue-900);
    --color-neutral-text-inverted: var(--white);

    --color-accent-background: var(--blue-050);
    --color-accent-background-subtle: var(--blue-100);
    --color-accent-surface: var(--blue-200);
    --color-accent-surface-hover: var(--blue-300);
    --color-accent-surface-active: var(--blue-400);
    --color-accent-border-subtle: var(--blue-300);
    --color-accent-border: var(--blue-500);
    --color-accent-border-strong: var(--blue-700);
    --color-accent-base: var(--blue-600);
    --color-accent-base-hover: var(--blue-700);
    --color-accent-base-active: var(--blue-800);
    --color-accent-text-subtle: var(--blue-700);
    --color-accent-text: var(--blue-800);
    --color-accent-text-inverted: var(--blue-100);

    --color-info-background: var(--blue-050);
    --color-info-background-subtle: var(--blue-100);
    --color-info-surface: var(--blue-200);
    --color-info-surface-hover: var(--blue-300);
    --color-info-surface-active: var(--blue-400);
    --color-info-border-subtle: var(--blue-300);
    --color-info-border: var(--blue-500);
    --color-info-border-strong: var(--blue-700);
    --color-info-base: var(--blue-600);
    --color-info-base-hover: var(--blue-700);
    --color-info-base-active: var(--blue-800);
    --color-info-text-subtle: var(--blue-800);
    --color-info-text: var(--blue-900);
    --color-info-text-inverted: var(--blue-100);

    --color-success-background: var(--green-050);
    --color-success-background-subtle: var(--green-100);
    --color-success-surface: var(--green-200);
    --color-success-surface-hover: var(--green-300);
    --color-success-surface-active: var(--green-400);
    --color-success-border-subtle: var(--green-300);
    --color-success-border: var(--green-500);
    --color-success-border-strong: var(--green-700);
    --color-success-base: var(--green-700);
    --color-success-base-hover: var(--green-800);
    --color-success-base-active: var(--green-900);
    --color-success-text-subtle: var(--green-700);
    --color-success-text: var(--green-900);
    --color-success-text-inverted: var(--green-100);

    --color-warning-background: var(--yellow-050);
    --color-warning-background-subtle: var(--yellow-100);
    --color-warning-surface: var(--yellow-200);
    --color-warning-surface-hover: var(--yellow-300);
    --color-warning-surface-active: var(--yellow-400);
    --color-warning-border-subtle: var(--yellow-300);
    --color-warning-border: var(--orange-500);
    --color-warning-border-strong: var(--orange-700);
    --color-warning-base: var(--orange-600);
    --color-warning-base-hover: var(--orange-700);
    --color-warning-base-active: var(--orange-800);
    --color-warning-text-subtle: var(--orange-800);
    --color-warning-text: var(--orange-900);
    --color-warning-text-inverted: var(--yellow-100);

    --color-danger-background: var(--red-050);
    --color-danger-background-subtle: var(--red-100);
    --color-danger-surface: var(--red-200);
    --color-danger-surface-hover: var(--red-300);
    --color-danger-surface-active: var(--red-400);
    --color-danger-border-subtle: var(--red-300);
    --color-danger-border: var(--red-500);
    --color-danger-border-strong: var(--red-700);
    --color-danger-base: var(--red-600);
    --color-danger-base-hover: var(--red-700);
    --color-danger-base-active: var(--red-800);
    --color-danger-text-subtle: var(--red-700);
    --color-danger-text: var(--red-900);
    --color-danger-text-inverted: var(--red-100);

    /* Typography */
    /* Primitive */
    --font-family-roboto-flex: "Roboto Flex";
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-size-1: 0.625rem;
    --font-size-2: 0.75rem;
    --font-size-3: 0.875rem;
    --font-size-4: 1rem;
    --font-size-5: 1.125rem;
    --font-size-6: 1.25rem;
    --font-size-7: 1.5rem;
    --font-size-8: 1.75rem;
    --font-size-9: 2rem;
    --font-size-10: 2.25rem;
    --font-size-11: 2.625rem;
    --font-size-12: 3rem;
    --font-size-13: 3.375rem;
    --font-size-14: 3.75rem;

    /* Semantic */
    --typography-label-large-font-size: var(--font-size-5);
    --typography-label-large-font-weight: var(--font-weight-medium);
    --typography-label-large-line-height: 1.5rem;
    --typography-label-large-letter-spacing: 0.11%;

    --typography-label-medium-font-size: var(--font-size-4);
    --typography-label-medium-font-weight: var(--font-weight-medium);
    --typography-label-medium-line-height: 1.5rem;
    --typography-label-medium-letter-spacing: 0.5%;

    --typography-label-small-font-size: var(--font-size-3);
    --typography-label-small-font-weight: var(--font-weight-medium);
    --typography-label-small-line-height: 1.25rem;
    --typography-label-small-letter-spacing: 1%;

    --typography-body-large-font-size: var(--font-size-5);
    --typography-body-large-font-weight: var(--font-weight-regular);
    --typography-body-large-line-height: 1.5rem;
    --typography-body-large-letter-spacing: 0.11%;

    --typography-body-medium-font-size: var(--font-size-4);
    --typography-body-medium-font-weight: var(--font-weight-regular);
    --typography-body-medium-line-height: 1.5rem;
    --typography-body-medium-letter-spacing: 0.5%;

    --typography-body-small-font-size: var(--font-size-3);
    --typography-body-small-font-weight: var(--font-weight-regular);
    --typography-body-small-line-height: 1.25rem;
    --typography-body-small-letter-spacing: 1%;

    /* Dimensions */
    /* Primitive */
    --spacing-0: 0rem;
    --spacing-050: 0.25rem;
    --spacing-100: 0.5rem;
    --spacing-150: 0.75rem;
    --spacing-200: 1rem;
    --spacing-250: 1.25rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-800: 4rem;
    --spacing-1000: 5rem;

    --border-radius-050: 0.25rem;
    --border-radius-100: 0.5rem;
    --border-radius-150: 0.75rem;
    --border-radius-200: 1rem;
    --border-radius-250: 1.25rem;
    --border-radius-300: 1.5rem;
    --border-radius-full: 999rem;

    /* Semantic */
    --border-width: 0.0625rem;
    --border-width-active: 0.125rem;
    --border-width-focus: 0.25rem;
}

/* override deprecated fhi font */
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: unset!important;
}

@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 400;
    src: unset!important;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: unset!important;
}

:root {
    --bs-btn-font-family: var(--font-family-roboto-flex);
}

.popover {
    font-family: var(--font-family-roboto-flex)!important;
}

.form-control {
    font-family: var(--font-family-roboto-flex) !important;
}

.btn {
    --bs-btn-font-family: var(--font-family-roboto-flex);
}

.tooltip {
    font-family:  var(--font-family-roboto-flex)!important;
}

.tagline {
    font-size: .75rem
}

.navbar-nav {
    flex-direction: row!important;
}

.navbar-nav .dropdown-menu {
    position: absolute!important;
}

body {
   font-family: var(--font-family-roboto-flex);
   font-size: 16px;
}

